##### General #####
# If it is active it will be accessible to any client
debug: false
# It can be a domain in case of using a proxy: example.com
domain: localhost
port: 4000
# It indicates which domain can use it. Debug true so there are no limitations.
domain-cli: example-cli.com

##### Notify #####
# Type of notification, currently valid: email
notify: email
subject: New comment
from: server@example.com
to: user@example.com
# SMTP, only notify: email
smtp-host: smtp.example.com
smtp-user: smtpuser
smtp-password: smtppassword
smtp-port: 25
smtp-tls: true

##### Captcha #####
# Currently valid: time
captcha: time

##### Database #####
# Currently valid: plain
database: plain
